!!! 5
html(lang='en', x-ng-app='DCMS')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")

    meta(name="viewport", content="width=device-width,initial-scale=1, maximum-scale=1,user-scalable=no")

    meta(name="handheldFriendly", content="true")
    meta(name="MobileOptimized", content="480")
    meta(name="apple-mobile-web-app-capable", content="true")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(http-equiv="cleartype", content="on")
    meta(name="description", content="#{description}")
    meta(name="author", content="#{author}")

    //- meta(property="og:url", content="http://app.canyouship.it")
    meta(property="og:site_name", content="#{url}")
    meta(property="og:type", content="#{fb.type}")
    meta(property="og:image", content="#{fb.img}")
    meta(property="og:description", content="#{description}")
    meta(property="fb:app_id", content="#{fb.app_id}")

    title #{title}
    
    - scripts.forEach(function(script) {
      script(src="#{script}")
    - })

    - css.forEach(function(css) {
      link(rel="stylesheet", href="#{css}")
    - })

    body
      
      div.contain-to-grid
        nav.top-bar(ng-controller="NavbarCtrl")
          ul.title-area
            li(class="name")
              h1
                a(href="/#/", title="Home") #{title}
          section.top-bar-section
            ul.left
              li(class="divider")
              li(ng-repeat="el in menuLeft", ng-class="{active : isActive(el.href)}")
                a(ng-href="{{ el.href }}", title="el.title", ng-bind="el.title")
              li(class="divider")	
            ul.right
              li(class="divider")
              li(ng-repeat="el in menuRight", ng-class="{active : isActive(el.href)}")
                a(ng-href="{{ el.href }}", title="el.title", ng-bind="el.title")
              li(class="divider")	

      feedback() 
      
      ng-view

      script
        var _gaq=[["_setAccount","#{ga_id}"],["_trackPageview"]];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
        g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
        s.parentNode.insertBefore(g,s)}(document,"script"));
